<?xml version="1.0" encoding="utf-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="Hanabe Photo Manager 安装程序"
    Manufacturer="Hanabe"
    Version="$(BundleVersion)"
    UpgradeCode="{9C69A347-0E59-420B-812A-70A6304B5B35}">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="hyperlinkLicense"
        LicenseUrl=""
        SuppressOptionsUI="yes" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
        SourceFile="$(MsiPath)"
        Compressed="yes"
        Visible="no"
        Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
