<?xml version="1.0" encoding="utf-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="Hanabe Photo Manager 安装程序"
    Manufacturer="Hanabe"
    Version="$(BundleVersion)"
    IconSourceFile="..\..\src\HanabePhotoManager.App\Assets\HanabeApp.ico"
    UpgradeCode="{9C69A347-0E59-420B-812A-70A6304B5B35}">

    <Variable Name="InstallFolder" Type="string" Value="[ProgramFiles64Folder]照片管理器\" />

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="rtfLicense"
        ThemeFile="themes\HanabeTheme.xml"
        LocalizationFile="themes\HanabeTheme.wxl"
        LicenseFile="..\HanabePhotoManager.Installer\license.rtf"
        LaunchTarget="[InstallFolder]HanabePhotoManager.App.exe"
        LaunchWorkingFolder="[InstallFolder]" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
        SourceFile="$(MsiPath)"
        Compressed="yes"
        Visible="no"
        Vital="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>
  </Bundle>

</Wix>
